<section>
	<h1><%= @user.username %>'s Library</h1>

		<% if logged_in? && current_user.id == @user.id %>
			<form action="/users/<%=current_user.id%>/edit" method="post">
			<input type="hidden" name="_method" value="put">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<h2>User Profile</h2>
				<p>Name: <%= @user.first_name%> <%= @user.last_name%> </p>
				<p>Address: <%= @user.address %>, <%= @user.suburb %>, <%= @user.country %></p>
				<p>Phone Number: <%= @user.phone %></p>
			</form>
			<a href="/users/<%= @user.id %>/edit">Edit</a>
		<% end %>

	<section>
		<% @books.each do |book| %>
			<div>
				<h2><a href="/books/<%= book.id %>"> <%= book.title %></a></h2>
				<h3><%= book.isbn_id %></h3>
				<h3><%= book.author %></h3>
				<a href="/books/<%= book.id %>"><img src="<%= book.image_url %>"></a>
			</div>

			<form action="/mybooks/<%= book.id %>" method="post">
		    	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		    	<input type="hidden" name="_method" value="delete">
		    	<button>Remove from My Library</button>
			</form>
		<% end %>	
	</section>
</section>