<a href="/login">Already registered? Sign-In</a>

<h1>Register</h1>

<ul>
	<% @errors && @errors.each do |e| %>
	  <li><%= e %></li>
	<% end %>
</ul>

<%= form_for @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br>
  <%= f.label :address %>
  <%= f.text_field :address %><br>
  <%= f.label :suburb %>
  <%= f.text_field :suburb %><br> 
  <%= f.label :country %>
  <%= f.text_field :country %><br>
  <%= f.label :phone%>
  <%= f.text_field :phone %><br>  
  <%= f.label :username%>
  <%= f.text_field :username %><br> 
  <%= f.label :profile_url %>
  <%= f.text_field :profile_url %><br> 
  <%= f.label :email %>
  <%= f.text_field :email %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %><br>
  <%= f.submit %>
<% end %>

<!-- <form action="/users" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<label for="">Phone Number</label>
<input type="text" name="phone"></br>
<label for="">Email</label>
<input type="text" name="email"></br>
<label for="">Address</label>
<input type="text" name="address"></br>
<label for="">Country</label>
<input type="text" name="country"></br>
<label for="">Suburb</label>
<input type="text" name="suburb"></br>
<label for="">Username</label>
<input type="text" name="username"></br>
<label for="">Password</label>
<input type="password" name="password"></br>
<label for="">Confirm your password</label>
<input type="password" name="password_confirmation"></br>
<label for="">Profile Picture</label>
<input type="text" placeholder="Insert an Image" name="profile_url"></br>
<button>Register</button>

</form>
 -->
