
<div>
	<% if logged_in? %>
		<label>Add a book to your Library or Wishlist:</label>
		<button class="googleBookSearch">Add a Book</button>
	<% else %>	
		<span>Login to add books to your library</span>
	<% end %>
	<br>
	<label>See what books are available to borrow:</label>
	<button class="dbBookSearch">Browse Available Books</button>
</div>
<form id="search-form" action="/search" method="get">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<select id="search-type">
		    <option class="option" value="title-search">Title</option>
		    <option class="option" value="author-search">Author</option>
		    <option class="option" value="genre-search">Genre</option>
		    <option class="option" value="isbn-search">ISBN</option>
  		</select>
	<input class="query-input" type="text" name="book-search">
	<button>Search</button>
</form>
	
	<div id="map_wrapper">
    	<div id="map_canvas" class="mapping"></div>
	</div>

<div class="results">
</div>

<script>
	var $searchForm = $('#search-form');
	var $queryInput = $('.query-input');
	var $resultsDiv = $('.results');

	// Search hidden so user cannot search without stating if searching DB or Google
	document.getElementById("search-form").style.display="none";
	

	// googleBookSearch returns results from Google and gives the option to add to Database 
	<% if logged_in? %>
	$('.googleBookSearch').on('click', function() {
		document.getElementById("search-form").style.display="";
		$queryInput.attr('placeholder', "Search Books to Add")
		var urlprefix = 'https://www.googleapis.com/books/v1/volumes?q=';

		$('#search-type').change(function(){
			if ($(this).val() == 'author-search') {
				urlprefix = 'https://www.googleapis.com/books/v1/volumes?q=authors:'
			} else if ($(this).val() == 'genre-search') {
				urlprefix = 'https://www.googleapis.com/books/v1/volumes?q=subject:'
			} else if ($(this).val() == 'isbn-search') {
				urlprefix = 'https://www.googleapis.com/books/v1/volumes?q=isbn:'
			} else {
				urlprefix = 'https://www.googleapis.com/books/v1/volumes?q=';
			}
		})

			$searchForm.on('submit', function(event) {
			event.preventDefault();
			$resultsDiv.empty();
			
			var options = {
				url: urlprefix + $queryInput.val() +'&apikey=2f6435d9'
			}
			
			var showResults = function(res) {	

				res.items.slice(0,20).forEach(function(book) {

					console.log(book.volumeInfo)
					var $h3 = $('<h3>').addClass('title');
					var $a = $('<a>')
						.text(book.volumeInfo.title);
					$h3.append($a);
					var $h5 = $('<h5>').text("ISBN_13: " + book.volumeInfo.industryIdentifiers[1].identifier)
					var $h4 = $('<h4>').text(book.volumeInfo.description);
					$resultsDiv.append($h3).append($h5).append($h4);
					book.volumeInfo.authors && book.volumeInfo.authors.forEach(function(author) {
						var $p = $('<p>').text("Written by: " + author);
						$resultsDiv.append($p);
					});
					var $p = $('<p>').text("Date of Publication: " + book.volumeInfo.publishedDate);
					var $img = $('<img >')
						.attr('src', book.volumeInfo.imageLinks.thumbnail);
					var $wishlistForm = $('<form>')
						.attr('action', "/<%= current_user.username %>/wishlists")						
					var $addToWishlist = $('<button>')
						.attr('class', 'addToWishlist')
						.text('add to wishlist');

					var $libraryForm = $('<form>')
						.attr('action', "/books")
						.attr('method', "post")

					$libraryForm.append($('<input>')
						.attr('type', "hidden")
						.attr('name', "authenticity_token")
						.attr('value', "<%= form_authenticity_token %>"))

					$libraryForm.append($('<input>')
						.attr('type', "hidden")
						.attr('name', "isbn_id")
						.attr('value', book.volumeInfo.industryIdentifiers[1].identifier))

					$libraryForm.append($('<input>')
						.attr('type', "hidden")
						.attr('name', "title")
						.attr('value', book.volumeInfo.title))

					$libraryForm.append($('<input>')
						.attr('type', "hidden")
						.attr('name', "author")
						.attr('value', book.volumeInfo.authors[0]))	

					$libraryForm.append($('<input>')
						.attr('type', "hidden")
						.attr('name', "plot")
						.attr('value', book.volumeInfo.description))

					$libraryForm.append($('<input>')
						.attr('type', "hidden")
						.attr('name', "image_url")
						.attr('value', book.volumeInfo.imageLinks.thumbnail))

					$libraryForm.append($('<input>')
						.attr('type', "hidden")
						.attr('name', "user_id")
						.attr('value',<%= current_user.id %>))													
					var $addToLibrary = $('<button>')
						.attr('class', 'addToLibrary')			
						.text('add to Library');


		
					$libraryForm.append($addToLibrary)
					$wishlistForm.append($addToWishlist)		
					$resultsDiv.append($p).append($img).append($wishlistForm).append($libraryForm);
					// $resultsDiv.append($form)
				});
			}

		$.ajax(options).done(showResults);
		});
	});
	<% end %>

	// dbBookSearch returns books from the database, with a button to borrow.
	$('.dbBookSearch').on('click', function() {
		// display search bar
		document.getElementById("search-form").style.display="";
		$queryInput.attr('placeholder', "Search Books to Borrow");
		// Select search type
		var $searchBy = 'title';
		$('#search-type').change(function(){
			if ($(this).val() == 'author-search') {
				$searchBy = 'author';
			} else if ($(this).val() == 'genre-search') {
				$searchBy = 'genre';
			} else if ($(this).val() == 'isbn-search') {
				$searchBy = 'isbn';
			} else {
				$searchBy = 'title';
			}
		});
		// Perform search with above search type

		$searchForm.on('submit', function(event) {
			event.preventDefault();
			$resultsDiv.empty();
			var options = {
				url: '/api/books',
				data: {
					category: $searchBy,
					search: $queryInput.val()
				}
			}

			var showResults = function(res) {
				console.log("Showing Book")
				
				showMap()

				res.forEach(function(book) {


					var $form = $('<form>')
						.attr('action', '/books/' + book.id)
					var $h3 = $('<h3>').addClass('title');
					var $a = $('<a>')
						.text(book.title);
					$h3.append($a);
					var $h5 = $('<h5>').text("ISBN_13: " + book.isbn_id);
					var $p = $('<p>').text("Written by: " + book.author);
					var $h4 = $('<h4>').text(book.plot);
					var $img = $('<img >')
						.attr('src', book.image_url);
					var $reqToBorrow = $('<button>')
						.attr('class', 'reqToBorrow')
						.text('request to borrow');
					$resultsDiv
						.append($h3)
						.append($h5)
						.append($p)
						.append($h4)
						.append($img)
						.append($reqToBorrow)
					$('.reqToBorrow').on('click', function() {
						<% if logged_in? %>
							$(location).attr('href', 'mailto:' + book.user.email + '?subject='
	                            + encodeURIComponent("Request to borrow " + book.title + " by " + book.author)
	                            + "&body=" 
	                            + encodeURIComponent("Hi " + book.user.first_name + ", I would love to borrow your copy of " + book.title + ". \n Let me know how you'd like to proceed. \n Regards, <%= current_user.first_name %>"));
						<% else %>
							alert('you need to be logged in to borrow a book')
						<% end %>
	                });
				})
			}
		$.ajax(options).done(showResults);
		})

	});

	$('.addToWishlist').on('click', function() {
		event.preventDefault();
		console.log('test wishlist')
	})
		

</script>


<script>
	var $googleMap = $('#map_wrapper');
	$googleMap.hide()

	function showMap(){
			var $input = $('.query-input').val()
			console.log($input)
			plotMap($input)
			$googleMap.show()
			}
</script>