<!DOCTYPE html>
<html>
  <head>
    <title>Bookswap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Anton|Oswald:400,500,600,700|Raleway:400,700,800,800i,900,900i" rel="stylesheet">

  </head>

  <body>
 <div>
  <h1>Book Swap</h1>
  <% if logged_in? %>
    <a href="/wishlists/<%= current_user.id %>">Wishlist</a>
    <a href="/mybooks/<%= current_user.id %>">My Library</a>  
    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <button>logout</button>
    </form>
    <p>Welcome, <%= current_user.name %></p>
  <% else %>
    <form action="/session" method="post">
      <label for="">email</label>
      <input type="text" name="email">
      <label for="">password</label>
      <input type="password" name="password">
      <button>login</button>
      <a href="/register">Sign Up</a>
    </form>
  <% end %>
  </div>



    <%= yield %>
  </body>
</html>
